@import '../../style/variable';
.headerClient{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    &.fixed-header {
        position: fixed;
        width: 1280px !important;
        top: 0;
        z-index: 1000;
        width: 100%;
        padding: 15px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        animation: slide-down 0.3s ease-in-out forwards;
      }
    &__left {
        flex: 1;
        width: 100%;
        &__logo{
            display: flex;
            img{
                width: 50px;
            }
            &-info{
                text-align: center;
                h2{
                    color: $mainColor;
                }
            }
        }
    }

    &__center{
        flex: 1;
    }

    &__right{
        flex: 1;
        &-btn{
            display: flex;
            justify-content: flex-end;
           div{
            margin: 0 5px;
           }
        }
    }


    
}

@keyframes slide-down {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }