

$XS:     480px;   
$SM:     768px;  
$MD:    1024px;   
$XL:   1280px;     
$XXL:   1530px;     
$XXXL:   1920px;     

$box-shadow:5px 4px 5px 0px rgb(187, 187, 187);
$box-shadow-ticket:0px -0px 5px 0px rgba(170,143,143,0.75);
$border: rgb(199, 88, 15);
$background:#FF9138;
$text:#333;
$mainColor: #ff9138;
$lightGray: #ccc;
$lightBackground:#FFF2E7;
$light:#f7f7f7;
$lightOrgan: #FFF2E7;
