@import '../../style/variable';
.header{
    background-color:white ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    &__breadcrumb{
        margin: 10px;
        h1{
            color:$mainColor;
        }
    }
    &__profile{
        display: flex;
        align-items: center;
        margin: 0 10px;
        &-bell{
            margin: 0 10px;
            background-color:$lightBackground;
            padding: 5px;
            border-radius: 50%;
            cursor: pointer;
            position: relative;
            &:hover &__content{
                display: block;
            }
            span{
                color: $mainColor;

            }

            &__content{
               display: none;
               position:absolute;
                background-color: $light;
                right: -10px;
                box-shadow: $box-shadow;
                width: 300px;
                padding: 10px;
                border-radius: 10px;
                top: 130%;
                transition: all 0.3s ease;
                &::after{
                    content: '';
                    position: absolute;
                    top: -18px;
                    right: 13px;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid $light;
                }
                p{
                    color: $lightGray;
                }
            }
        }
        &-avatar{
            width: 30px;
            height: 30px;
            margin:0 10px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

@keyframes scale2 {
    0% {
        scale: 0;
    }
    100%{
        scale: 1;
    }
}