.bookMark{
    position: absolute;
    top: 0;
    right: 0;
    border-top: 35px solid yellow;
    border-bottom: 20px solid transparent;
    border-right: 15px solid yellow;
    border-left: 15px solid yellow;
}